<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888642454832-kf4qaln6doq9bc624tarcjkj79j24af8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888642454832-kf4qaln6doq9bc624tarcjkj79j24af8</string>
	<key>API_KEY</key>
	<string>AIzaSyDQezNtgOCho9wt3OpewXkDiQvnVxE_Y48</string>
	<key>GCM_SENDER_ID</key>
	<string>888642454832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hero</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-4e130</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-4e130.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888642454832:ios:5365833ceda3104a6774f5</string>
</dict>
</plist>